* {
  box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0px;
    background: rgb(42, 41, 54);
    font-family: "Open Sans";
    color: white;
  }

.nav-bar{
  overflow: hidden;
  background-color: rgb(30, 30, 30);
}

.nav-bar a:link {
  float: left;
  display: block;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: rgb(15, 15, 15);
}

.nav-bar a:visited{
  color:white  
}

.header {
  float: left;
  padding: 2.5px;
  width: 100%;
  background-color: rgb(35, 35, 35);
  font-size: 20px;
  text-align: center;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
}

.column {
  float: left;
  padding: 15px;
  flex: 1;
  width: 50%;
  background-color: rgb(40, 40, 40);
  font-size: 20px;
  text-align: center;
}



@media (max-width:700px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
  }

  .column{ 
   float: left;
   padding: 15px;
   flex: 1;
   width: 100%;
   background-color: rgb(40, 40, 40);
   font-size: 20px;
   text-align: center;
  }
}

.footer {
  float: left;
  padding:10px;
  width: 100%;
  background-color: rgb(35, 35, 35);
  text-align: left;
  flex-grow: 1;
  list-style-type: none;
}

li {
  list-style-type: none;
}

.py {
  height: 20px;
  width: 20px;
}

.html{
  height: 25px;
  width: 25px;
}

.css{
  height: 25px;
  width: 25px;
}

.js{
  height: 20px;
  width: 20px;
}

.yt{
  height: 25px;
  width: 25px;
}

.ttv{
  height: 25px;
  width: 25px;
}

.twt{
  height: 25px;
  width: 25px;
}