body {
    background: rgb(124, 174, 158);
    font-family: Comic Sans MS, Comic Sans, cursive;
  }
 
.div1 {
    font-family:Comic Sans MS, Comic Sans, cursive;
    background: rgb(212, 96, 96,0.9);
    border: 3px solid black;
    
  }

.button {
    font-family:Comic Sans MS, Comic Sans, cursive;
}

.jermabutton {
    background: rgb(124, 174, 158);
    border: 5px solid rgb(124, 174, 158)
}